<template name="geomList">
  <div id="project-list" class="row spacer-top">
    <h3>Field Collection</h3>
  </div>
  {{#each geoms}}
  <div class="row project">
    <div class="col-sm-12">
      <div class="row">
        <p class="timestamp pull-right"><i>{{prettifyDate created_at}}</i></p>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="project-link"><a href="#">{{name}}}</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <p class="desc">{{desc}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</template>