<template name="geomList">
  <div class="row">
    <div class="col-xs-8">
      <p class="lead">Points Collected</p>
    </div>
    <div class="col-xs-4">
      {{#with currentProject}}
      <p class="pull-right"><a href="{{projectMapViewPath this}}" class="btn btn-default btn-micro">Map View</a></p>
      {{/with}}
    </div>
  </div>
  {{#each geoms}}
  <div class="row project divet">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12">
          <p class="timestamp pull-right time-divet"><i>{{prettifyDate created_at}}</i></p>
        </div>
      </div>
      <div class="row list-header">
        <div class="col-sm-8">
          <p class="project-link geom-point-coords"><a href="#">{{name}}}</a></p>
        </div>
        <div class="col-sm-4">
          <p class="coord">Lat: {{coordClip lat}}</p>
          <p class="coord">Long: {{coordClip lng}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <p class="desc">{{desc}}</p>
        </div>
      </div>
      <div class="row list-header">
        <div class="col-sm-12">
          <p>
          <button class="btn btn-micro btn-danger pull-right delete-point">Delete</button>
          <button class="btn btn-micro btn-info pull-right edit-point">Edit</button>
          </p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</template>