<Template name='pointFields'>
  <div class='form-group'>
    <label for='inputLat' class='col-md-2 control-label'>Lat</label>
    <div class='col-md-8'>
      <input name='inputLat' type='number' step='any' min='-180' max='180' class='form-control' id='inputLat' placeholder='Latitude'>
    </div>
  </div>
  <div class='form-group'>
    <label for='inputLong' class='col-md-2 control-label'>Long</label>
    <div class='col-md-8'>
      <input name='inputLong' type='number' step='any' min='-180' max='180' class='form-control' id='inputLong' placeholder='Long'>
    </div>
  </div>
</Template>