<template name="polygonCreate">
  <div class="row spacer-bottom">
    <div class="col-md-12">
      <p class="lead">Collect Polygon</p>
      <form id="polygon-create" class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputLat" class="col-md-2 control-label">Lat</label>
          <div class="col-md-8">
            <input name="inputLat" type="number" step="any" min="-180" max="180" class="form-control input-lat" id="inputLat" placeholder="Latitude">
          </div>
        </div>
        <div class="form-group">
          <label for="inputLong" class="col-md-2 control-label">Long</label>
          <div class="col-md-8">
            <input name="inputLong" type="number" step="any" min="-180" max="180" class="form-control input-lng" id="inputLng" placeholder="Long">
          </div>
        </div>
        <div id="add-next-point" class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <p class="pull-right"><button class="btn btn-red btn-micro next-point">Add Point</button></p>
          </div>
        </div>
        <div class="form-group">
          <label for="pointName" class="col-md-2 control-label">Name</label>
          <div class="col-md-8">
            <input name="pointName" type="Text" class="form-control" id="polygon-name" placeholder="Polygon name">
          </div>
        </div>
        <div class="form-group">
          <label for="pointDesc" class="col-md-2 control-label">Description</label>
          <div class="col-md-8">
            <textarea name="pointDesc" class="form-control" id="polygon-desc" rows="2" placeholder="Attribute the polygon..."></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-8">
            <button id="create-point" type="submit" class="btn btn-success">Save Polygon</button>
            <p class="pull-right"><button id="cancel-line" class="btn btn-default">Cancel</button></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>