<template name="createProject">
  <div class='container'>
    <div class='row section'>
      <div class="col-sm-offset-4 col-sm-4">
        <form role="form" id="project-creation">
          <div class="form-group">
            <label for="projectTitle">Title</label>
            <input type="text" name="projectTitle" class="form-control input-lg" id="project-title" placeholder="Enter Title" />
          </div>
          <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea name="projectDescription" id="project-description" class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-blue btn-lg">Create Project</button>
        </form>
      </div>
    </div>
  </div>
</template>

