<template name="projectPage">
  {{#with currentProject}}
  <div class="container">
    <div class="row profile-head">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <h3><a href="{{profilePath}}">{{currentUser.profile.name}}</a>/{{title}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>Title: <i>{{description}}</i></p>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="center-link"><button type="button" class="btn btn-red add-point">New Point</button></h2>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="center-link"><button type="button" class="btn btn-red add-line">New Line</button></h2>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="center-link"><button type="button" class="btn btn-red add-polygon">New Polygon</button></h2>
          </div>
        </div>
      </div>
    </div>
    {{#if addPoint}}
      {{> geomCreate}}
    {{/if}}
    {{#if addLine}}
      {{> lineCreate}}
    {{/if}}
    {{#if addPolygon}}
      {{> polygonCreate}}
    {{/if}}
    <div class="row">
      {{#if noGeomList}}
        <div id="geom-list" class="col-sm-4">
          {{> noGeomList}}
        </div>
      {{else}}
        <div id="geom-list" class="col-sm-4">
          {{> geomList}}
        </div>
      {{/if}}
      <div class="hidden-xs col-sm-offset-1 col-sm-7 map-holder">
        {{> projectMap}}
      </div>
    </div>
  </div>
  {{/with}}
</template>