<template name="projectList">
  <p class="lead">Projects</p>
  {{#each projects}}
  <div class="row project divet">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12">
          <p class="timestamp pull-right"><i>{{prettifyDate created_at}}</i></p>
        </div>
      </div>
      <div class="row list-header">
        <div class="col-sm-12">
          <p class="lead"><a href="{{projectPagePath this}}">{{title}}</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <p class="desc">{{description}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</template>