<template name="projectList">
  <p class="lead">Projects</p>
  <div class="row project">
  {{#each projects}}
    <div class="col-sm-6 col-md-4">
      <div class="col-sm-offset-1 col-sm-10 divet">
      <div class="row">
        <div class="col-md-12">
          <p class="timestamp pull-right time-divet"><i>{{prettifyDate created_at}}</i></p>
        </div>
      </div>
      <div class="row list-header">
        <div class="col-sm-12">
          <p class="lead"><a href="{{projectPagePath this}}">{{title}}</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <p class="red">Description:</p>
            <p class="desc divet">{{description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <p class="red">Features Collected: <i class="white">{{geomCount}}</i></p>
        </div>
      </div>
      <div class="row list-header">
        <div class="col-sm-12">
          <p>
          <button class="btn btn-micro btn-danger pull-right delete-project">Delete</button>
          <button class="btn btn-micro btn-info pull-right edit-project">Edit</button>
          </p>
        </div>
      </div>
      </div>
    </div>
    {{/each}}
  </div>
</template>