@blue: #5FBCD3;
@red: #FF2A2A;
@white: #ffffff;
@black: #000;
@grey: #e3e3e3;

a {
	color: @blue;
	&:hover {
		color: desaturate(@blue, 20%);
	}
}

body {
	margin-top: 50px;
}

.section {
	padding-top: 75px;
	padding-bottom: 75px;
}

.spacer {
	padding-top: 25px;
	padding-bottom: 25px;
}

.spacer-top {
	padding-top: 15px;
	margin-top: 10px;
}

.spacer-bottom {
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: solid 1px @grey;
}

.section-heading {
	font-size: 4em;
	margin: 30px 0;
}

.section-lead {
	margin: 30px 0;
}

.section-paragraph {
	margin: 30px 0;
}

footer {
	margin: 50px 0;
}

@media (max-width: 768px) {

 .section-heading {
		font-size: 2em;
	}

	.section {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

/***************
/*	Components
****************/

.btn-blue {
	color: @white;
	background-color: @blue;
	border-color: darken(@blue, 10%);
	&:hover {
		background-color: lighten(@blue, 20%);
	} 
}


.btn-red {
	color: @white;
	background-color: @red;
	border-color: darken(@red, 10%);
	&:hover {
		background-color: lighten(@red, 20%);
	} 
}

.btn-huge {
	color: @white;
	background-color: @red;
	border-color: darken(@red, 10%);
	padding: 5px 50px 5px 50px;
	font-size: 2em;
	&:hover {
		background-color: @blue;
		border-color: darken(@blue, 10%);;
	} 
}

/**************
/*	Navbar
**************/

i {
	&.red {
		color: @red;
		font-style: normal;
	}
	&.blue {
		color: @blue;
		font-style: normal;
	}
}

/**************
/*	Logo Spread
**************/

.full-width-image-1 {
	background: url(http://lorempixel.com/g/1920/500/) no-repeat center center;
	background-size: cover;
	text-align: center;
	padding: 25px 0;
}

.full-width-image-2 {
	background: url(http://lorempixel.com/g/1920/450/) no-repeat center center;
	background-size: cover;
	text-align: center;
	height: 450px;
}

.logo-wrapper {
	display: inline-block;
}

.tag-line {
	background-color: @black;
	color: @white;
	padding: 0 30px 0 30px;
}

/**************
/*	Profile
**************/

.profile-head {
	margin: 20px 0;
	padding: 0 0 5px 0;
	border-bottom: solid 2px @red;
	box-shadow: 0 8px 0px -4px @blue;
	-webkit-box-shadow: 0 8px 0px -4px @blue;
	-moz-box-shadow: 0 8px 0px -4px @blue;
}

#profile-map {
	min-height: 500px;
}

.map {
	border: 1px solid @black;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.divet {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: @black;
	border: 1px solid @black;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/**************
/*	Project List
**************/

#project-list {
	border-bottom: solid 2px @grey;
	h3 {
		margin-left: 15px;
	}
}

.project {
	margin: 5px 0;
	padding: 3px 0;
	border-bottom: dotted 1px @grey;
}
.timestamp {
	font-family: Courier, times;
	font-size: .7em;
	color: @black;
}

.project-link {
	font-weight: bold;
	font-size: 1.3em
}

.desc {
	color: @red;
}

.center-link {
	text-align: center;
}