<template name="login">
  <div class='container'>
    <div class='row section'>
      <div class="col-sm-offset-4 col-sm-4">
        <form role="form" id="login">
          <div class="form-group">
            <label for="login-email">Email</label>
            <input type="email" name="emailAddress" class="form-control input-lg" id="login-email" placeholder="Enter Email" />
          </div>
          <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" name="accountPassword" class="form-control input-lg" id="login-password" placeholder="Enter Password" />
          </div>
          <button type="submit" class="btn btn-blue btn-lg">Log in</button>
        </form>
      </div>
    </div>
  </div>  
</template>
