<template name="profile">
  <div class="container">
    <div class="row section">
      <div class="col-sm-3">
        <div class="row well">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12">
                <h2>{{profileName}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="lead">{{userEmail}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{> profileMap}}
    </div>
  </div>
</template>