<template name="profile">
  <div class="container">
    <div class="row profile-head">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12">
            <h2>{{profileName}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>{{userEmail}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6 pull-right">
            <h2 class="pull-right"><a href="{{createProjectPath}}" class="btn btn-blue btn-lg">Create Project</a></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {{#if noProjects}}
        <div id="project-list" class="col-sm-4">
          {{> noProjectList}}
        </div>
      {{else}}
        <div id="project-list" class="col-sm-4">
          {{> projectList}}
        </div>
      {{/if}}
        {{> profileMap}}
    </div>
  </div>
</template>